/* Add padding to the body to prevent content from overlapping the fixed navbar */
body {
    padding-top: 80px; /* Adjust this value based on your navbar height */
  }
  
  /* Ensure the routed components are pushed down by the navbar height */
  router-outlet + * {
    margin-top: 80px; /* Adjust this value based on your navbar height */
  }

  .success-snackbar {
    background-color: #4caf50;
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336;
    color: white;
  }